// article specific styles
body {
  font-family: Roboto, sans-serif;
  font-size: 12pt;

  .title {
    font-size: 3em;
  }

  .results {

    img {
      max-width: 100%;
      max-height: 100%;
    }

    max-width: 1000px;
    margin: auto;
    align-content: center;

    .article {
      display: grid;
      grid-template-columns: 100px 42px 70px 120px max-content auto;
      grid-template-rows: max-content max-content auto;
      grid-gap: 5px;

      margin-bottom: 10px;
      border-bottom: 1px solid lightgrey;
      padding: 10px;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;

      border-radius: 5px;

      vertical-align: middle;
      overflow: hidden;

      &:hover {
        background-color: #f8f8f8;
      }

      .article__image {
        grid-column: 1;
        grid-row: 1 / span 3;

        width: 84px;
        height: 84px;
        position: absolute;
        overflow: hidden;
        vertical-align: middle;
      }

      .article__title {
        grid-column: 2 / span 4;
        grid-row: 1;

        font-size: 2em;
      }

      .article__avatar {
        grid-column: 2;
        grid-row: 2;

        width: 42px;
        height: 42px;

        border-radius: 50%;
      }

      .article__name {
        grid-column: 3;
        grid-row: 2;
        align-content: center;
      }

      .article__distance {
        grid-column: 4 / span 1;
        grid-row: 2;
      }

      .article__like {
        grid-column: 5 / span 2;
        grid-row: 2;

        a {
          text-decoration: none;
          color: black;
          height: 100%;
          padding: auto;

          &:hover {
            color: #00a69b;
          }
        }
      }
    }
  }

  .pagination {
    width: 1000px;
    margin: 20px auto;

    a {
      background-color: #00a69b;
      color: white;

      &:hover {
        background-color: #00a69b;
        color: black;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transition: color 0.25s, drop-shadow 0.25s;
      }

      text-decoration: none;
      padding: 5px 15px;
      border-radius: 15px;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    }

  }
}
