<div class="logo">
  <%= image_tag 'logo', class: "header__logo" %>
  <span><strong>Code Test</strong> - Colin Currie</span>
</div>

<div class="navigation">
  <ul>
    <li>
      <a href="#"><i class="fa-solid fa-list"></i> Browse</a>
    </li>
    <li>
      <a href="#"><i class="fa-solid fa-square-plus"></i> Add Listing</a>
    </li>
    <li>
      <a href="#"><i class="fa-solid fa-envelope"></i> Messages</a>
    </li>
    <li>
      <a href="#"><i class="fa-solid fa-user"></i> My OLIO</a>
    </li>
  </ul>
</div>
